.landingimage {
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-auto-rows: minmax(40px, auto);
  grid-template-rows: 1fr 3fr 1fr;
}

.landingimage__herotitle {
  grid-column: 1 / span 1;
  grid-row: 1;
  text-align: center;
}

.landingimage__herotext {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 1.4rem;
}

.landingimage__herotextbuttons {
  /* margin: 10px; */
}

.landingimage__herotextbuttons > Button {
  margin: 10px;
}
